<h1>Success :)</h1>

<h2>Tipo de pago: {{payment_type}}</h2>
<h2>Id de pago: {{collection_id}}</h2>
<h2>Referencia externa: {{external_reference}}</h2>

 <script src="https://www.mercadopago.com/v2/security.js" view="success"></script>